.logo{
    font-size: 1.5rem;
}

.logo::before{
    content: "<";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

.logo::after{
    content: "/>";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

/*Mobile*/
@media (max-width:960px) {
   
    
}

/*Tablet*/
@media (max-width:640px) {
    
    
    
}