.projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.card-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}

.card{
    position: relative;
    width: 320px;
    height: 200px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 100%;
}

.card::before{
    background-color: #0008;
    content: "Clique aqui para ver o projeto";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-weight: 700;
    transform: translateY(100%);
    transition: transform .5s;
}

.card:hover::before{
    transform: translateY(0%);
}

/*Mobile*/
@media (max-width:960px) {
    .projetos{
        height: 190vh;
    }
    .card-container{
        flex-direction: column;
        align-items: center;     
    }
    
        
    
    
}