/*Itens body, header, main e footer*/
/*DESKTOP*/
:root{
    --primary-color: #FEDC00;
    --primary-color-light: #FEDC0055;
    --icon-color: #252525;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #ffff;
    background-color: #000;
}

header{
    place-self: start center;
    grid-area: content;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color-light);
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 2px solid var(--primary-color);
}
section{
    height: 100vh;
}

.projetos{
    width: 100%;
   
}
footer{
    place-self: end center;
    grid-area: content;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: .75rem;
    border-top: 2px solid #fff;
    color: var(--primary-color);
    opacity: .3;
    transition: opacity 2.5s;
}

.back:hover{
    opacity: 1;
}

/*Mobile*/
@media (max-width:960px) {

    header{
        max-width: 700px;
        width: 100%;
    }
   
    

/*Tablet*/
@media (max-width:640px) {
    
    header{
        max-width: 400px;
        width: 100%;
    }
    
}
}
